@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Poppins, sans-serif;
  }

  /**
  =================================================
  Scroll Bar Style Begin
  =================================================
  +*/

  /* ::-webkit-scrollbar {
    @apply bg-green-50;
    width: 0.6rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-green-100;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-green-200;
  } */

  /***** ===== Scroll Bar Style End ===== *****/

}

@layer utilities {
  .outline-none-important {
    outline: none !important;
  }
  .shadow-none-important {
    box-shadow: none !important;
  }
  .m-0-important {
    margin: 0 !important;
  }
  .before-left-5-important {
    left: 1.25rem !important;
  }
}